#header-navbar-fixed-top.navbar-fixed-top.navbar
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", "type" => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: '/', rel: 'home', itemprop: 'url'}
        = image_tag '/images/alveo-logo-title.png', alt: "Alveo logo", title: "Alveo logo", class: 'img-fluid'
        
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
              About
              %b.caret
            %ul.dropdown-menu
              %li
                %a.nav-link{href: project_url('about') } Profile
              %li
                %a.nav-link{href: project_url('contact') } Contact
              %li
                %a.nav-link{href: project_url('posts') } Blog
          %li.dropdown
            %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
              Data
              %b.caret
            %ul.dropdown-menu
              %li
                %a.nav-link{href: "/catalog/"} Collections
              %li
                %a.nav-link{href: "/discover/"} Discover
              %li
                %a.nav-link{href: "/item_lists/"} Item Lists
              %li
                %a.nav-link{href: "/contrib/"} Contributions
          %li
            %a{href: "http://galaxy.alveo.edu.au/"} GALAXY
          %li.dropdown
            %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
              Help
              %b.caret
            %ul.dropdown-menu
              %li
                %a.nav-link{href: project_url('tutorials') } Tutorials
                %a.nav-link{href: project_url('documentation') } Documentation
                %a.nav-link{href: "https://support.alveo.edu.au/support/home/"} Support
            = render :partial => '/user_util_links'